{{log post}}

   <div class="collapse" id="{{posts.id}}">
    {{#each posts.comments as |comment|}}
    <div class="card card-body" style="width:750px">
        <span id= "comment">{{comment.content}}</span>
        <span id="commenter">Left by: {{comment.user.username}}</span>
        <span id="commentedAt">{{format_dateSpec comment.createdAt}}</span>
    </div>
    {{/each}}
    </div>